<a href="https://colab.research.google.com/github/LukeCruz/data-vizualization-pandas/blob/master/data_vizualization_pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Pandas

O pandas é uma biblioteca amplamente utilizada para tratamento e vizualização de dados de diversas fontes.

Para trabalharmos com o pandas , alguns conceitos são importantes.

##biblioteca
  Bibliotecas são aglomerados de código comumente utilizados na comunidade para determinado fim.

In [1]:
#importando a biblioteca pandas e colocando um ALIAS como pd
import pandas as pd

##Dataframe

![image.png]()

#Metodos de vizualização simples

 O pandas suporta diversas fontes de dados e formatos de arquivos 
 *  excel
 * sql
 * json
 * xml
 * csv
 * parquet

 ![image.png]()

In [ ]:
#Estes são as fontes de dados mais comuns utilizadas no dia a dia de um analista de dados
data1 = pd.read_csv(local)
data2 = pd.read_excel(local)
data3 = pd.read_sql(database)
data4 = pd.read_json(local)

Vamos utilizar como base de dados, um arquivo em XLXS ( excel ) neste conteúdo.

Legenda:
df : significa quando dataframe , básicamente dataframe é uma tabela dentro do pandas, vamos explicar mais a frente

In [2]:
vendas_df = pd.read_excel('/content/Base Vendas.xlsx')

In [3]:
display(vendas_df)

,SKU,Produto,Quantidade Vendida,Primeiro Nome,Sobrenome,Data,Loja,Preco Unitario
0,HL4379,Televisão,5,Gabriel,Thoni,6/30/2018,Curitiba,2500
1,HL4379,Televisão,3,Renan,Nascimento,9/14/2018,Recife,2500
2,HL1148,Câmera,2,Camila,Sobral,10/21/2018,Fortaleza,2100
3,HL1918,iPhone,3,Clara,Bruno,7/8/2018,Fortaleza,5300
4,HL9962,Android,4,Eduardo,Pacheco,12/19/2018,Fortaleza,3400
...,...,...,...,...,...,...,...,...
9994,HL4379,Televisão,2,Caio,Ferreira,5/18/2018,Fortaleza,2500
9995,HL1148,Câmera,5,Kim,Ferreira,3/6/2018,Fortaleza,2100
9996,HL4379,Televisão,5,Caio,Moraes,1/22/2018,São Paulo,2500
9997,HL1918,iPhone,4,Norman,Jimbo,6/13/2018,Porto Alegre,5300
9998,HL7348,SmartWatch,1,Vinícius,Antunes,12/10/2018,Curitiba,1400

Metodos de vizualização simples

 * head() - primeiras linhas
 * shape - mostra total de linhas e colunas 
 * describe() - Descreve os itens da tabela 

 ![image.png]()

##head()

In [6]:
display(vendas_df.head(4))

,SKU,Produto,Quantidade Vendida,Primeiro Nome,Sobrenome,Data,Loja,Preco Unitario
0,HL4379,Televisão,5,Gabriel,Thoni,6/30/2018,Curitiba,2500
1,HL4379,Televisão,3,Renan,Nascimento,9/14/2018,Recife,2500
2,HL1148,Câmera,2,Camila,Sobral,10/21/2018,Fortaleza,2100
3,HL1918,iPhone,3,Clara,Bruno,7/8/2018,Fortaleza,5300

##shape

In [8]:
display(vendas_df.shape)

(9999, 8)

##describe()

In [10]:
display(vendas_df.describe())

       Quantidade Vendida  Preco Unitario
count         9999.000000     9999.000000
mean             3.004600     3300.460046
std              1.405409     1449.490943
min              1.000000     1400.000000
25%              2.000000     2100.000000
50%              3.000000     3400.000000
75%              4.000000     5300.000000
max              5.000000     5300.000000

##Buscando colunas e linhas

Pegar os 5 primeiros produtos

In [16]:
produtos = vendas_df[ 'Produto'].head(5)
display(produtos)

0    Televisão
1    Televisão
2       Câmera
3       iPhone
4      Android
Name: Produto, dtype: object

Pegar mais de uma coluna
* ✅ Quantidade vendida em cada Loja

In [27]:
vendas_loja = vendas_df[[ 'Loja', 'Quantidade Vendida']]
display(vendas_loja)

              Loja  Quantidade Vendida
0         Curitiba                   5
1           Recife                   3
2        Fortaleza                   2
3        Fortaleza                   3
4        Fortaleza                   4
...            ...                 ...
9994     Fortaleza                   2
9995     Fortaleza                   5
9996     São Paulo                   5
9997  Porto Alegre                   4
9998      Curitiba                   1

[9999 rows x 2 columns]

##.loc[1]

✅ Pegar um intervalo especifico, linha ou linhas especificas

In [32]:
linha = vendas_df.loc[5]
display(linha)

SKU                      HL1918
Produto                  iPhone
Quantidade Vendida            4
Primeiro Nome             Sarah
Sobrenome                 Souza
Data                  2/14/2018
Loja                  São Paulo
Preco Unitario             5300
Name: 5, dtype: object

✅ Selecionando da linha 5 a 10 da tabela

In [33]:
linha = vendas_df.loc[5:10]
display(linha)

,SKU,Produto,Quantidade Vendida,Primeiro Nome,Sobrenome,Data,Loja,Preco Unitario
5,HL1918,iPhone,4,Sarah,Souza,2/14/2018,São Paulo,5300
6,HL7348,SmartWatch,3,Alexandre,Rodriguez,5/20/2018,São Paulo,1400
7,HL2714,Tablet,2,Thays,Castro,3/7/2018,Curitiba,1600
8,HL4379,Televisão,4,Jessica,Cordovil,2/11/2018,Rio de Janeiro,2500
9,HL1148,Câmera,3,Camille,Silva,3/26/2018,São Paulo,2100
10,HL1918,iPhone,3,Alon,Palmeira,11/6/2018,São Paulo,5300

✅ Selecionando a linha 2 da coluna Produto

In [36]:
linha = vendas_df.loc[2,'Produto']
display(linha)

'Câmera'

✅ Selecionando da linha 1 a 5 da coluna Produto

In [40]:
linha = vendas_df.loc[1:5 , 'Produto']
display(linha)

1    Televisão
2       Câmera
3       iPhone
4      Android
5       iPhone
Name: Produto, dtype: object

✅ Selecionando as linhas da tabela onde uma condição obdece

In [42]:
vendas_SP = vendas_df.loc[vendas_df['Loja'] == 'São Paulo']
display(vendas_SP)

,SKU,Produto,Quantidade Vendida,Primeiro Nome,Sobrenome,Data,Loja,Preco Unitario
5,HL1918,iPhone,4,Sarah,Souza,2/14/2018,São Paulo,5300
6,HL7348,SmartWatch,3,Alexandre,Rodriguez,5/20/2018,São Paulo,1400
9,HL1148,Câmera,3,Camille,Silva,3/26/2018,São Paulo,2100
10,HL1918,iPhone,3,Alon,Palmeira,11/6/2018,São Paulo,5300
18,HL8851,Notebook,4,Leandro,Rodrigues,8/6/2018,São Paulo,3500
...,...,...,...,...,...,...,...,...
9981,HL7348,SmartWatch,4,João,Junior,4/14/2018,São Paulo,1400
9984,HL1918,iPhone,4,Itai,Puntel,5/2/2018,São Paulo,5300
9985,HL1918,iPhone,1,Guilherme,Vianna,3/18/2018,São Paulo,5300
9991,HL7348,SmartWatch,5,Antônio,Soares,11/21/2018,São Paulo,1400
9996,HL4379,Televisão,5,Caio,Moraes,1/22/2018,São Paulo,2500

##Adicionar coluna

Apartir de uma coluna existente

In [44]:
vendas_df['Preco Total'] = vendas_df['Preco Unitario'] * vendas_df['Quantidade Vendida']

vendas_df.head(1)

,SKU,Produto,Quantidade Vendida,Primeiro Nome,Sobrenome,Data,Loja,Preco Unitario,Preco Total
0,HL4379,Televisão,5,Gabriel,Thoni,6/30/2018,Curitiba,2500,12500

Nova coluna existente

In [46]:
vendas_df.loc[:, 'Imposto'] = 0

In [47]:
vendas_df.head(1)

,SKU,Produto,Quantidade Vendida,Primeiro Nome,Sobrenome,Data,Loja,Preco Unitario,Preco Total,Imposto
0,HL4379,Televisão,5,Gabriel,Thoni,6/30/2018,Curitiba,2500,12500,0

##Adicionar Linha

✅ Adicionando linhas de outra tabela

In [50]:
novo_df = pd.read_excel(local)
vendas_df = vendas_df.append(novo_df)

<bound method DataFrame.notna of          SKU     Produto  Quantidade Vendida Primeiro Nome  Sobrenome  \
5     HL1918      iPhone                   4         Sarah      Souza
6     HL7348  SmartWatch                   3     Alexandre  Rodriguez
9     HL1148      Câmera                   3       Camille      Silva
10    HL1918      iPhone                   3          Alon   Palmeira
18    HL8851    Notebook                   4       Leandro  Rodrigues
...      ...         ...                 ...           ...        ...
9981  HL7348  SmartWatch                   4          João     Junior
9984  HL1918      iPhone                   4          Itai     Puntel
9985  HL1918      iPhone                   1     Guilherme     Vianna
9991  HL7348  SmartWatch                   5       Antônio     Soares
9996  HL4379   Televisão                   5          Caio     Moraes

            Data       Loja  Preco Unitario
5      2/14/2018  São Paulo            5300
6      5/20/2018  São Paulo            1400
9      3/26/2018  São Paulo            2100
10     11/6/2018  São Paulo            5300
18      8/6/2018  São Paulo            3500
...          ...        ...             ...
9981   4/14/2018  São Paulo            1400
9984    5/2/2018  São Paulo            5300
9985   3/18/2018  São Paulo            5300
9991  11/21/2018  São Paulo            1400
9996   1/22/2018  São Paulo            2500

[2226 rows x 8 columns]>

##Drop()

Drop() é utilizado para excluir linhas ou colunas inteiras

###Excluindo linhas

In [ ]:
vendas_df = vendas_df.drop(0, axis=0)

#axis = 0 - Eixo x , eixo da linha 
#axis = 1 - Eixo y , eixo da coluna

###Excluindo Colunas

In [51]:
vendas_df = vendas_df.drop('Imposto', axis=1)

In [52]:
display(vendas_df.head(1))

,SKU,Produto,Quantidade Vendida,Primeiro Nome,Sobrenome,Data,Loja,Preco Unitario,Preco Total
0,HL4379,Televisão,5,Gabriel,Thoni,6/30/2018,Curitiba,2500,12500

##Dropna()

###Excluindo valores vazios

✅ Excluindo linhas onde todos os valores são vazios

In [ ]:
vendas_df = vendas_df.dropna(how='all', axis=1)

✅ Excluindo linhas onde pelo menos um item é vazio

In [ ]:
vendas_df = vendas_df.dropna()

##Substituindo valores vazios

###Fill()

O metodo fill() , preenche valores vazios com um valor passado

In [ ]:
vendas_df = vendas_df.fill()

O metodo fillna busca todos os valores vazios na coluna 'comissao' , e o metodo mean() substitui todos os valores vazios pela media dos valores existendes na coluna comissão

In [ ]:
vendas_df = vendas_df['Comissao'].fillna(vendas_df['Comissao'].mean())

#Indicadores

  indicadores : 
    * groupby
    * value counts

##GroupBy

A sintaxe do groupby é simples e lógica

variavel = dataframe[[ item somado, coluna de referencia]].groupby(dataframe(item somado).soma


A função do groupby é agrupar valores de acordo com um referencial

In [58]:
faturamento_produto = vendas_df[['Preco Total', 'Produto']].groupby('Produto').sum()
display(faturamento_produto)

            Preco Total
Produto
Android        10822200
Câmera          5890500
Notebook       11371500
SmartWatch      4172000
Tablet          4673600
Televisão      14827500
iPhone         47562200

##Value_counts()

  -Value counts conta a frequencia de itens com mesmo nome ou especificação passada

In [66]:
transacoes = vendas_df[['Produto']].value_counts()
display(transacoes)

Produto
iPhone        2977
Televisão     1962
Android       1068
Notebook      1062
SmartWatch     995
Tablet         973
Câmera         962
dtype: int64